functions-framework==3.*
msal-extensions
google-cloud-aiplatform
pandas==2.2.3
google-cloud-secret-manager==2.23.2
google-cloud-bigquery==3.31.0
google-cloud-bigquery-storage==2.22.0
pydantic==2.11.2
pydantic-settings==2.8.1
google-cloud-storage
google-genai==1.9.0
google-cloud-logging==3.11.4
xmlschema==3.4.5
pyarrow==19.0.1
google-cloud-tasks==2.19.2
msal==1.32.0
db-dtypes==1.4.2
vertexai==1.71.1
google-cloud-firestore==2.20.2
google-cloud-workflows==1.18.0
tqdm==4.67.1
fuzzywuzzy==0.18.0
pandas-gbq==0.24.0